:root {
  --heading-font-family: "Fascinate Inline", system-ui;
  --text-font-family: "Poppins", sans-serif;
  --primary-color: #e1bee7;
  --secondary-color: #9c27b0;
  --third-color: #7b1fa2;
}

* {
  color: #212121;
}

.preheader {
  background: #212121;
  color: white;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.preheader .heart-icon {
  color: #fff;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-style: normal;
}

/* Header section */
header .navbar {
  background: var(--primary-color);
  position: fixed;
  font-size: 18px;
  width: 100%;
  top: 42px;
}

header .navbar a {
  color: #000;
  margin: 0 20px;
}

header {
  background: var(--primary-color);
}

header .hero {
  padding: 150px 0 100px;
}

header img {
  border-radius: 15px;
}

header .intro {
  padding: 30px 50px;
}

header .intro a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
}

header .intro a:hover {
  border-bottom: var(--secondary-color) 2px solid;
  color: var(--secondary-color);
  font-weight: 700;
}

header h1 {
  font-size: 60px;
}

header .intro .rate {
  font-size: 30px;
}

header .intro .rate .star-icon:hover {
  color: rgb(246, 217, 0);
}

header ul {
  list-style: none;
  padding: 0;
}

header .labels {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

header .labels .tags {
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
  padding: 10px 20px;
  margin-right: 10px;
  text-align: center;
  transition: all 250ms ease-in-out;
  color: var(--secondary-color);
  font-weight: 500;
}

header .labels .tags:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

header p {
  line-height: 20px;
}

header .spotify-button {
  background: var(--secondary-color);
  color: #fff !important;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
}

header .spotify-button:hover {
  background: var(--primary-color);
  border: none;
  color: var(--secondary-color) !important;
}

p {
  font-family: var(--text-font-family);
  font-weight: 400;
  font-style: normal;
}

/* about section */

.about-founders {
  background: #ebd2ef;
}

.founders img {
  border-radius: 50%;
  width: 75%;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  margin: 0 auto;
}

.founders .biography {
  margin-left: 35px;
}

.founders p {
  line-height: 25px;
}

.founders a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
}

.founders a:hover {
  border-bottom: var(--secondary-color) 2px solid;
  color: var(--secondary-color);
  font-weight: 700;
}

.episodes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section .episode {
  flex-grow: 1;
  margin: 0 30px;
  background: rgba(243, 209, 131, 0.309);
  border-radius: 10px;
  padding: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer {
  text-align: center;
  padding: 60px 0;
  margin-top: 20px;
  background: #212121;
}

footer h3 {
  color: #fff;
}

footer .icon {
  font-size: 30px;
  padding: 10px;
  color: var(--primary-color);
  transition: all 250ms ease-in-out;
}

footer .icon:hover {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  .preheader {
    font-size: 13px;
  }

  header .navbar {
    top: 39px;
  }

  header .hero {
    padding: 110px 0 0;
    text-align: center;
  }

  header img {
    width: 80%;
  }

  header .hero h1 {
    text-align: center;
    font-size: 40px;
  }

  header .hero .rate {
    text-align: center;
  }

  header .hero .labels {
    margin: 20px auto;
    font-size: 12px;
  }

  .founders {
    text-align: center;
  }

  .founders .biography {
    margin: 0 20px;
  }

  .episodes {
    flex-direction: column;
    gap: 30px;
  }
}
